.git
.turbo
.vscode
.idea

node_modules
**/node_modules

.env
.env.*
env
account-cookies.txt

backups
**/backups

dist
**/dist
.nuxt
**/.nuxt
.output
**/.output
.medusa
**/.medusa
.strapi
**/.strapi

coverage
**/coverage

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
