body {
  font-family: $font-body;
  color: $color-navy;
  font-size: $text-base;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  line-height: 1.2;
  font-weight: 700;
  color: $color-navy;
}

h1 { font-size: $text-4xl; }
h2 { font-size: $text-3xl; }
h3 { font-size: $text-2xl; }
h4 { font-size: $text-xl; }
h5 { font-size: $text-lg; }
h6 { font-size: $text-base; }

button,
input,
select,
textarea {
  font-family: inherit;
}
